/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*custom editing*/

*,*::before,*::after{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 44rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: rgb(20,183,167);
    padding: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.margin-top{
    margin-top: 3.1rem;
}

h1{
    font-size: 1.9rem;
    text-align: center;
    font-weight: 700;
}

h1 span{
    color: white;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-action{
    padding-top: 1.9rem;
}

.status{
    font-size: 1.5rem;
    margin-left: 1.2rem;
}

.status span{
    color: white;
    
}

.reset{
    font-size: 1.5rem;
    margin-right: 1.2rem;
    padding: 0.4rem 1.2rem;
    background-color: rgba(131, 100, 100,0.5);
    color: white;
    border-radius: 0.4rem;
    /* transition-property: all;
    transition-delay: 0.2s;
    transition-duration: 0.2s; */
    
}

.reset:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.9rem;
    background-color: rgb(191, 224, 219);
    margin-top: 3.1rem;
    /* padding: 10px; */

}

.game-cell{
    background-color: rgb(20,183,167);
    height: 9.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.game-cell:hover{
    cursor: pointer;
}

.cursor:hover{
    cursor: default;
}

.x::before{
    content: "×";
    font-size: 6.25rem;

}

.o::before{
    content: "○";
    color: white;
    font-size: 6.25rem;
}


.x:hover{
    cursor:default;
}

.o:hover{
    cursor: default;
}

.win::before{
    color:  red;
    font-weight: 800;

}

 .display-banner{
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    padding: 1.2rem;
    background-color:rgba(131, 100, 100,0.5);
    color: white;
    position: absolute;
    top:18.75rem;
    left:0;
    right:0;
}



 @media screen and (max-width: 768px) {

    html{
        font-size: 14px;
    }

    .container{
        max-width: 51.5rem ;
    }
    .game-cell{
        height: 7rem;
    }

    .status-action{
        padding-top: 0.8rem;
    }
   
}  


 @media screen and (max-width: 400px) {
     html{
         font-size: 10px;
     }

    .container{
        max-width: 38rem ;
    }
    .game-cell{
        height: 8rem;
    }

    .status-action{
        padding-top: 50px;
    }

    .x::before{
        content: "×";
        font-size: 50px;
    
    }
    
    .o::before{
        content: "○";
        color: white;
        font-size: 50px;
    }
   
} 

@media screen and (max-width: 360px) {
    html{
        font-size: 8px;
    }

    .container{
        max-width: 340px ;
    }
   
    .game-cell{
        height: 60px;
    }

    .status-action{
        padding-top: 10px;
    }

    .x::before{
        content: "×";
        font-size: 30px;
    
    }
    
    .o::before{
        content: "○";
        color: white;
        font-size: 30px;
    }
   
}

